<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.jxxy.mobileshop_txf">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name="com.example.jxxy.mobileshop_txf.common.MobileShopApp"
        android:allowBackup="true"
        android:icon="@drawable/logo_app"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name="com.example.jxxy.mobileshop_txf.activity.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.example.jxxy.mobileshop_txf.activity.AdActivity" />
        <activity android:name="com.example.jxxy.mobileshop_txf.activity.MainActivity" />
        <activity android:name="com.example.jxxy.mobileshop_txf.activity.LoginActivity" />
        <activity android:name="com.example.jxxy.mobileshop_txf.activity.ChangePwdActivity" />
        <activity android:name="com.example.jxxy.mobileshop_txf.activity.MyAddressActivity" />
        <activity android:name="com.example.jxxy.mobileshop_txf.activity.MyCollectActivity" />
        <activity android:name="com.example.jxxy.mobileshop_txf.activity.MyOrderActivity" />
        <activity android:name="com.example.jxxy.mobileshop_txf.activity.GoodsDetailActivity"/>
        <activity android:name="com.example.jxxy.mobileshop_txf.activity.GoodsListActivity" />
    </application>

</manifest>